.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.mat-checkbox-layout {
    white-space: normal !important;
    }
    
    .mat-radio-label {
    white-space: normal !important;
    }