<mat-card class="card-oas" *ngIf="tercero && datosIdentificacion">
    <mat-card-header>
        <!-- <mat-card-title>Terceros</mat-card-title>
        <mat-card-subtitle>Ambiente de pruebas</mat-card-subtitle>
        -->
        <mat-card-title>Información básica</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list [appOasGridCols]="{xs: 1, sm: 2, md: 2, lg: 3, xl: 4}" rowHeight="80px" gutterSize="10px">

            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>Primer nombre</mat-label>
                    <input matInput type="text" value="{{tercero.PrimerNombre}}" disabled>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>Segundo nombre</mat-label>
                    <input matInput type="text" value="{{tercero.SegundoNombre}}" disabled>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>Primer apellido</mat-label>
                    <input matInput type="text" value="{{tercero.PrimerApellido}}" disabled>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>Segundo apellido</mat-label>
                    <input matInput type="text" value="{{tercero.SegundoApellido}}" disabled>
                </mat-form-field>
            </mat-grid-tile>

        </mat-grid-list>

        <mat-grid-list [appOasGridCols]="{xs: 1, sm: 2, md: 3, lg: 4, xl: 4}" rowHeight="80px" gutterSize="10px">

            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>Tipo de documento</mat-label>
                    <input matInput type="text" value="{{datosIdentificacion.TipoDocumentoId.Nombre}}" disabled>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>Número de documento</mat-label>
                    <input matInput type="number" value="{{datosIdentificacion.Numero}}" disabled>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>Fecha de expedicion del documento</mat-label>
                    <input matInput type="text" [value]="datosIdentificacion.FechaExpedicion | date: 'dd/MM/yyyy'" disabled>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>


        <mat-grid-list [appOasGridCols]="{xs: 1, sm: 2, md: 3, lg: 4, xl: 4}" rowHeight="80px" gutterSize="10px">
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>Género</mat-label>
                    <input matInput type="text" value="{{datosGenero?datosGenero.InfoComplementariaId?datosGenero.InfoComplementariaId.Nombre:'':''}}" disabled>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>Estado civil</mat-label>
                    <input matInput type="text" value="{{datosEstadoCivil?datosEstadoCivil.InfoComplementariaId?datosEstadoCivil.InfoComplementariaId.Nombre:'':''}}" disabled>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>Edad</mat-label>
                    <input matInput type="number" value="{{edad}}" disabled>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>


    </mat-card-content>
</mat-card>
<br />
<mat-card class="card-oas" *ngIf="tercero && datosIdentificacion">

    <mat-card-header>

        <mat-card-title>Información vinculación</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-accordion>


            <mat-expansion-panel *ngFor="let vinculacion of vinculacionesOtros">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{vinculacion.TipoVinculacion.Nombre}}
                    </mat-panel-title>

                </mat-expansion-panel-header>

                <mat-grid-list [appOasGridCols]="{xs: 1, sm: 2, md: 2, lg: 2, xl: 4}" rowHeight="80px" gutterSize="10px">

                    <mat-grid-tile>
                        <mat-form-field appearance="fill" [style.width.%]="100">
                            <mat-label>Fecha de inicio</mat-label>
                            <input matInput type="text" value="{{vinculacion.FechaInicioVinculacion | date: 'dd/MM/yyyy'}}" disabled>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" [style.width.%]="100">
                            <mat-label>Fecha de finalización</mat-label>
                            <input matInput type="text" value="{{vinculacion.FechaFinVinculacion | date: 'dd/MM/yyyy'}}" disabled>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" [style.width.%]="100">
                            <mat-label>Dependencia</mat-label>
                            <input matInput type="text" value="{{vinculacion?vinculacion.Dependencia?vinculacion.Dependencia.Nombre:'':''}}" disabled>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>

            </mat-expansion-panel>




            <mat-expansion-panel *ngFor="let vinculacion of vinculacionesOtros">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{vinculacion.TipoVinculacion.Nombre}}
                    </mat-panel-title>

                </mat-expansion-panel-header>

                <mat-grid-list [appOasGridCols]="{xs: 1, sm: 2, md: 3, lg: 4, xl: 5}" rowHeight="80px" gutterSize="10px">

                    <mat-grid-tile>
                        <mat-form-field appearance="fill" [style.width.%]="100">
                            <mat-label>Código</mat-label>
                            <input matInput type="text" [value]="20202495005" disabled>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" [style.width.%]="100">
                            <mat-label>Facultad</mat-label>
                            <input matInput type="text" value="Ingeniería" disabled>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" [style.width.%]="100">
                            <mat-label>Proyecto Curricular</mat-label>
                            <input matInput type="text" value="495" disabled>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" [style.width.%]="100">
                            <mat-label>Plan de Estudios</mat-label>
                            <!-- <input matInput type="text" value="2 - MAE. EN CIENCIAS DE LA INF. Y LAS COMUNICACIONES ENFASIS EN ING. SOFT" disabled> -->
                            <textarea matInput disabled>2 - MAE. EN CIENCIAS DE LA INF. Y LAS COMUNICACIONES ENFASIS EN ING. SOFT</textarea>

                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" [style.width.%]="100">
                            <mat-label>Estado</mat-label>
                            <input matInput type="text" value="Activo" disabled>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                <div class="div-table" style="text-align:center">
                    <b><span>Horario de Clases Período 2021-1</span></b>
                    <br>
                    <br>
                    <table class="tg" align="center">
                        <thead>
                            <tr>
                                <td class="tg-head">Cod.</td>
                                <td class="tg-head">Nombre Espacio<br>Académico</td>
                                <td class="tg-head">Grupo</td>
                                <td class="tg-head">Créditos</td>
                                <td class="tg-head">Clasificación</td>
                                <td class="tg-head">Lun</td>
                                <td class="tg-head">Mar</td>
                                <td class="tg-head">Mie</td>
                                <td class="tg-head">Jue</td>
                                <td class="tg-head">Vie</td>
                                <td class="tg-head">Sáb</td>
                                <td class="tg-head">Dom</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tg-body">19502005</td>
                                <td class="tg-body">TESIS I<br><span style="font-weight:bold">Docente por asignar.</span></td>
                                <td class="tg-body">195-1</td>
                                <td class="tg-body">4</td>
                                <td class="tg-body"></td>
                                <td class="tg-body"></td>
                                <td class="tg-body"></td>
                                <td class="tg-body"></td>
                                <td class="tg-body"></td>
                                <td class="tg-body"></td>
                                <td class="tg-body"></td>
                                <td class="tg-body">6-10<br>Sede:FICC<br>Edificio:ADMINISTRATIVO<br>Salón: MAESTRIA EN CIENCIAS DE LA INFORMACION Y LAS COMUNICACIONES<br></td>
                            </tr>
                            <tr>
                                <td class="tg-body">49501001</td>
                                <td class="tg-body">INGENIERÍA DE SOFTWARE I<br><span style="font-weight:bold">Docente: ALEJANDRO PAOLO DAZA CORREDOR.</span><br></td>
                                <td class="tg-body">495-1</td>
                                <td class="tg-body">4</td>
                                <td class="tg-body"></td>
                                <td class="tg-body"></td>
                                <td class="tg-body"></td>
                                <td class="tg-body"></td>
                                <td class="tg-body"></td>
                                <td class="tg-body"></td>
                                <td class="tg-body">10-14<br>Sede:FICC<br>Edificio:SABIO CALDAS<br>Salón: SALA DE INFORMATICA 508<br></td>
                                <td class="tg-body"></td>
                            </tr>
                            <tr>
                                <td class="tg-body">49503005</td>
                                <td class="tg-body">MINERÍA DE DATOS<br><span style="font-weight:bold">Docente: JORGE ENRIQUE RODRIGUEZ RODRIGUEZ.</span></td>
                                <td class="tg-body">495-1</td>
                                <td class="tg-body">4</td>
                                <td class="tg-body"></td>
                                <td class="tg-body"></td>
                                <td class="tg-body"></td>
                                <td class="tg-body"></td>
                                <td class="tg-body"></td>
                                <td class="tg-body"></td>
                                <td class="tg-body">6-10<br>Sede:FICC<br>Edificio:SABIO CALDAS<br>Salón: SALA DE INFORMATICA 508<br></td>
                                <td class="tg-body"></td>
                            </tr>
                        </tbody>
                    </table>
                    <ng2-smart-table  [settings]="settings" [source]="source" >
                </ng2-smart-table>
                </div>
            </mat-expansion-panel>



        </mat-accordion>

    </mat-card-content>

</mat-card>