.prueba {
    width:calc(100vw - 60px)
}

mat-label {
    color: var(--primary);
}


.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
    color: #333;

}